
#page-mod-nedpageplus-view .attachment-wrapper-top {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    align-items: right;
}
#page-mod-nedpageplus-view .attachment-wrapper-top div {
    margin-bottom: 15px;
    border: 1px solid #0070a8;
    border-radius: 2px;
    padding: 6px 8px;
    display: inline-block;
}
#page-mod-nedpageplus-view .attachment-wrapper-bottom {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-mod-nedpageplus-view .attachment-wrapper-bottom div {
    font-size: 1.4em;
    text-align: center;
    margin: 15px auto;
    border: 1px solid #0070a8;
    border-radius: 2px;
    padding: 8px 10px;
    display: inline-block;
}